In [29]:
import numpy as np
import pandas as pd

In [15]:
def multiply(x,y):
    x_and_y = "{0:b}".format(int(x, 2) & int(y, 2)) # x AND y
    return x_and_y.count('1') % 2 # return Hamming weight of x AND y (mod 2)

In [16]:
def walsh_coefficient(truth_table, a, b):
    coeff = 0
    
    for x in truth_table.keys():
        fx = truth_table[x]
        coeff += (-1)**((multiply(b,fx)+multiply(a,x)) % 2) # b*F(x) + ax (mod 2)
        
    return coeff

In [27]:
def calculate_walsh_table(truth_table):
    n = len(truth_table)
    walsh_table = np.zeros((n,n), dtype=np.int32) # create empty array of size n*n
    
    # for each a,b in the field, calculate the walsh coefficient of (a,b)
    for i in range(n):
        for j in range(n):
            walsh_table[i,j] = walsh_coefficient(
                truth_table, 
                list(truth_table.keys())[i],
                list(truth_table.keys())[j])
            
    return walsh_table

In [23]:
truth_t = {'000': '000',
           '001': '100',
           '010': '100',
           '100': '011',
           '011': '011',
           '110': '100',
           '111': '001',
           '101': '101'}

In [33]:
walsh_t = calculate_walsh_table(truth_t)
walsh_pd = pd.DataFrame(data=walsh_t, 
                        index=list(truth_t.keys()), 
                        columns=list(truth_t.keys()))
walsh_pd

     000  001  010  100  011  110  111  101
000    8    0    4    0    4   -4    0   -4
001    0    4    0    0    4    0    0    0
010    0    0    0    0    0    0    4    4
100    0    4    0    0    4    0    0    0
011    0   -4   -4    8    0    4    4    0
110    0    4    4    0    0    4   -4    0
111    0    0    0    0    0    0    4    4
101    0    0    4    0   -4    4    0    4

In [34]:
def power_moments(walsh_table, k): # sum every element of matrix to the power k
    f = lambda x: x ** k
    return np.sum(f(walsh_table))

In [42]:
for i in range(1,5):
    print("%d. power moment: %d" % (i, power_moments(walsh_t, i)))

1. power moment: 64
2. power moment: 512
3. power moment: 1792
4. power moment: 14336